@import "bulma/bulma";

.logo {
    width: 200px;
}

body {
    display: flex;
    justify-content: center;
    background: #d9d9d9;
    min-height: 100vh;
}

.menu {
    font-size: 20px;
}

.no-records {
    font-size: 20px;
}

@media screen and (max-width: 1024px) {
    .section {
        padding: 0;
    }
}